<div class="navbar fixed top-0 left-0 w-full bg-gray-900 shadow-lg z-50 px-6">
  <div class="navbar-start">
    <div class="dropdown">
      <button tabindex="0" class="btn btn-ghost lg:hidden">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 text-gray-200" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16"/>
        </svg>
      </button>
      <ul tabindex="0" class="menu dropdown-content mt-3 w-52 p-2 shadow bg-gray-800 rounded-lg text-gray-300">
        <li *ngIf="isAuthenticated">
          <a routerLink="{{ dashboardLink }}" class="">Dashboard</a>
        </li>
        <li *ngIf="!isAuthenticated">
          <a routerLink="/register" routerLinkActive="active">Register</a>
        </li>
      </ul>
    </div>

    <a class="btn btn-ghost text-xl text-blue-400 font-bold" routerLink="/" routerLinkActive="active">
      Help Desk
    </a>
  </div>

  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1 text-gray-300">
      <li *ngIf="isAuthenticated">
        <a routerLink="{{ dashboardLink }}" class="">Dashboard</a>
      </li>
      <li *ngIf="!isAuthenticated">
        <a routerLink="/register" routerLinkActive="active">Register</a>
      </li>
    </ul>
  </div>

  <div class="navbar-end flex items-center space-x-4">
    <!-- Profile Icon -->
    <a *ngIf="isAuthenticated" routerLink="/me" routerLinkActive="active" class="btn btn-circle">
      <img src="favicon.ico" class="w-10 h-10 rounded-full border-2 border-white" alt="Profile">
    </a>

    <!-- Login / Logout Button -->
    <a *ngIf="!isAuthenticated" class="btn btn-primary px-5 py-2 text-white" routerLink="/login" routerLinkActive="active">Log In</a>
    <button *ngIf="isAuthenticated" class="btn btn-error px-5 py-2 text-white" (click)="logout()">Log Out</button>
  </div>
</div>
