<div class="flex justify-center items-center min-h-screen bg-gray-900 pt-20">
  <div class="card w-full max-w-lg bg-gray-800 shadow-xl p-6 mt-20 mb-20">
    <h2 class="text-center text-2xl font-bold text-gray-200 mb-4">Create a Ticket</h2>

    <form [formGroup]="createTicketForm" (ngSubmit)="createTicket()">
      <!-- Ticket Subject -->
      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-300">Subject</span>
        </label>
        <input
          type="text"
          formControlName="title"
          placeholder="Enter ticket subject"
          class="input input-bordered w-full bg-gray-700 text-gray-200 placeholder-gray-400"
          required
        />
      </div>

      <!-- Ticket Description -->
      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-300">Description</span>
        </label>
        <textarea
          formControlName="description"
          placeholder="Describe your issue"
          class="textarea textarea-bordered w-full bg-gray-700 text-gray-200 placeholder-gray-400"
          rows="4"
          required
        ></textarea>
      </div>

      <!-- Ticket Priority -->
      <div class="form-control mb-4">
        <label class="label">
          <span class="label-text text-gray-300">Priority</span>
        </label>
        <select
          formControlName="priority"
          class="select select-bordered w-full bg-gray-700 text-gray-200"
          required
        >
          <option disabled>Select priority</option>
          <option value=0>Low</option>
          <option value=1>Medium</option>
          <option value=2>High</option>
        </select>
      </div>

      <!-- Submit Button -->
      <div class="form-control">
        <button class="btn btn-primary w-full" type="submit">Submit Ticket</button>
      </div>
    </form>
  </div>
</div>
